# 配置 mysql
MYSQL_ROOT_PASSWORD=root用户密码
MYSQL_PASSWORD=用户密码
MYSQL_USER=用户名
MYSQL_DATABASE=数据库名称
MYSQL_PORT=数据库端口
MYSQL_HOST=数据库地址
# 配置 SQLAlchemy 链接，以 mysql 举例
DB_URL=mysql+pymysql://root:${MYSQL_ROOT_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}

# 配置 oneapi
ONE_API_KEY=
ONE_API_URL=

# 配置 google serper
GOOGLE_API_KEY=
GOOGLE_API_URL=